@model IEnumerable<HelpDesk.Persistence.Models.SupportRequest>

@{
    ViewData["Title"] = "Support";
}

<h2>Support Board</h2>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Subject</th>
        <th scope="col">Department</th>
        <th scope="col">Agent</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var request in Model)
    {
        <tr>
            <th scope="row" onclick="tableRowClickHandler('@request.SupportRequestId')">@request.SupportRequestId</th>
            <td onclick="tableRowClickHandler('@request.SupportRequestId')">@request.Subject</td>
            <td onclick="tableRowClickHandler('@request.SupportRequestId')">@request.SupportDepartment.Name</td>
            <td onclick="tableRowClickHandler('@request.SupportRequestId')">@request.SupportSpecialist.Name</td>
        </tr>
    }

    </tbody>
</table>

<script>
const tableRowClickHandler = (id) => {
    window.location = "@Url.Action("TicketDetails")" + "/" + id;    
}
</script>